<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
    * {
      font-family: 'Exo 2', sans-serif;
      background-color: #aaa;
    }

    .title {
      text-align: center;
    }

  </style>
</head>

<body>
  <main>
    <h1 class="title">Dados do jogo</h1>
    <hr>

    <h2><%=nome%></h2>
    <br />
    
    <p><strong>Desenvolvedora: </strong><%=desenvolvedora%></p>
    <p><strong>Estúdio: </strong><%=estudio%></p>
    <p><strong>Classificação Indicativa: </strong><%=classInd%></p>
      
    <h2>Genêros:</h2>

    <div id="generos">
      <p><%=genero1%></p>
      <p><%=genero2%></p>
      <p><%=genero3%></p>
      <p><%=genero4%></p>
    </div>
    <hr />
  </main>

</body>
</html>